<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}


    <div class="jumbotron">
        <h1 class="display-4">VISION</h1>
        <p class="lead">
            Ser reconocidos como la cafetería móvil más innovadora y apasionada por brindar experiencias únicas, 
            llevando el aroma del café y la calidez de nuestro servicio a cada rincón de la ciudad, creando momentos
            especiales que perduren en la memoria de nuestros clientes.</p>
        <hr class="my-4">
        <h2 class="display-4">MISION</h2>
        <p class="lead">
            Nuestra misión es ofrecer a nuestros clientes la mejor experiencia de café, combinando la calidad de nuestros
            productos con un servicio excepcional y la comodidad de poder disfrutarlo en cualquier lugar. Nos esforzamos 
            por ser un punto de encuentro que promueva la conexión y el disfrute de momentos especiales, todo mientras 
            impulsamos la movilidad sostenible y la innovación en la industria de la restauración.</p>
        <hr class="my-4">  
        
      </div>
{% endblock%}
