{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Quieres un carro y un cafe ??             BIENVENIDO A LA CAFETERIA GRIS y JESUS!!!</h1>
  <p class="lead">
    El primer Cafe donde podras tomar Cafe y vender carros</p>
  <hr class="my-4">
  <p>En nuestro acogedor rincón del mundo, cada taza de café cuenta una historia. Nos apasiona servir a nuestros clientes las mejores variedades de café, cuidadosamente seleccionadas de los rincones más remotos del planeta. Desde el primer sorbo hasta el último, queremos que cada experiencia en nuestra cafetería sea memorable.

    Nuestro equipo de baristas expertos está aquí para deleitarte con una amplia gama de bebidas, desde un espresso perfectamente elaborado hasta un capuchino cremoso o un café con leche reconfortante. Además, nuestra selección de tés y deliciosos postres complementa a la perfección cualquier elección.
    
    Ya sea que busques un lugar tranquilo para trabajar, una reunión con amigos o simplemente un momento de relajación, te invitamos a disfrutar de la calidez de nuestra cafetería. ¡Ven a descubrir el sabor del buen café con nosotros!</p>
  
</div>

{% endblock%}
