<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}


<div class="portfolio">
    <h2>Ve nuestro Portafolio mientras Tomas un rico Cafe</h2>
    <table>
        <tr>
            
            <th>Modelo</th>
            <th>Año</th>
            <th>Precio</th>
            <th>Imagen</th>
            
        </tr>
        <tr>
            <td>AX4567</td>
            <td>2022</td>
            <td>$200,000</td>
            <td><img src="static/img/car1.jpg" alt="Car 1"></td>
        </tr>
        <tr>
            <td>AX534</td>
            <td>2021</td>
            <td>$170,000</td>
            <td><img src="static/img/car6.jpg" alt="Car 2"></td>
        </tr>
        <tr>
            <td>Modelo AX689</td>
            <td>2021</td>
            <td>$180,000</td>
            <td><img src="static/img/car2.jpg" alt="Car 3"></td>
        </tr>
        <tr>
            
            <td>AX6780</td>
            <td>2022</td>
            <td>$120,000</td>
            <td><img src="static/img/car3.jpg" alt="Car 4"></td>
        </tr>
        <tr>
            
            <td>AX3456</td>
            <td>2021</td>
            <td>$180,000</td>
            <td><img src="static/img/car4.jpg" alt="Car 5"></td>
        </tr>
        <tr>
          
            <td>AX7968</td>
            <td>2024</td>
            <td>$150,000</td>
            <td><img src="static/img/car5.jpg" alt="Car 6"></td>
        </tr>
        <!-- Agrega más filas según sea necesario -->
    </table>
</div>

{% endblock%}
